<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  [url=http://go.microsoft.com/fwlink/?LinkId=169433]http://go.microsoft.com/fwlink/?LinkId=169433[/url]
  -->
<configuration>
  <system.diagnostics>
   <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="EMULATED" value="true" />
  </appSettings>
  <system.webServer>
      <httpErrors errorMode="Detailed"/>
      <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>
      <rewrite>
          <rules>

              <rule name="Redir Subdir" stopProcessing="false">
                  <match url="(.*)" ignoreCase="false" />
                  <conditions>
                      <add input="{URL}" pattern="^/public" ignoreCase="false" negate="true" />
                  </conditions>
                  <action type="Rewrite" url="/public/{R:1}" appendQueryString="false" />
              </rule>

              <rule name="RegleFichierPublic" stopProcessing="true">
                  <match url="^\/public\/(.*)$" ignoreCase="false" />
                  <conditions>
                      <add input="{URL}" pattern="^/public" ignoreCase="false" negate="true" />
                      <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                  </conditions>
                  <action type="Rewrite" url="/public/index.php/{R:1}" appendQueryString="true" />
              </rule>
          </rules>
      </rewrite>
  </system.webServer>
</configuration>
